@font-face
  font-family 'bpg_nino_mkhedruli_bookRg'
  src url('../fonts/bpg_nino_mkhedruli_book-webfont.eot')
  src url('../fonts/bpg_nino_mkhedruli_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_nino_mkhedruli_book-webfont.woff2') format('woff2'),
         url('../fonts/bpg_nino_mkhedruli_book-webfont.woff') format('woff'),
         url('../fonts/bpg_nino_mkhedruli_book-webfont.ttf') format('truetype'),
         url('../fonts/bpg_nino_mkhedruli_book-webfont.svg#bpg_nino_mkhedruli_bookRg') format('svg')
  font-weight normal
  font-style normal
@font-face
  font-family 'bpg_nino_mtavruliregular'
  src url('../fonts/bpg_nino_mtavruli_normal-webfont.eot')
  src url('../fonts/bpg_nino_mtavruli_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_nino_mtavruli_normal-webfont.woff2') format('woff2'),
         url('../fonts/bpg_nino_mtavruli_normal-webfont.woff') format('woff'),
         url('../fonts/bpg_nino_mtavruli_normal-webfont.ttf') format('truetype'),
         url('../fonts/bpg_nino_mtavruli_normal-webfont.svg#bpg_nino_mtavruliregular') format('svg')
  font-weight normal
  font-style normal
@font-face
  font-family 'bpg_nino_mtavruli_bookregular'
  src url('../fonts/bpg_nino_mtavruli_book-webfont.eot')
  src url('../fonts/bpg_nino_mtavruli_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_nino_mtavruli_book-webfont.woff2') format('woff2'),
         url('../fonts/bpg_nino_mtavruli_book-webfont.woff') format('woff'),
         url('../fonts/bpg_nino_mtavruli_book-webfont.ttf') format('truetype'),
         url('../fonts/bpg_nino_mtavruli_book-webfont.svg#bpg_nino_mtavruli_bookregular') format('svg')
  font-weight normal
  font-style normal
