@import "../../fonts/stylesheet.css"

#emulsifiers, #emulsifier-submit
	font-size: 48px
	height: 72px

#emulsifiers, #emulsifier-submit
	font-size: 38px
	height: 72px

body
	//font-family: "bpg_nino_mkhedruli_bookRg", "Helvetica Neue", "Helvetica", sans-serif
	//background: linear-gradient(#52EDC7, #5AC8FB)


body, h1, h2, h3, h4, h5, h6, .btn
	//font-family: "bpg_nino_mtavruliregular", "Helvetica Neue", "Helvetica", sans-serif